In [ ]:
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import Sequential
from sklearn.metrics import r2_score
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
df = pd.read_csv('/content/sample_data/House Price India.csv')
df.drop(['id','Date'], axis=1, inplace=True)
df.head()

,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,5,2.50,3650,9050,2.0,0,4,5,10,3370,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,4,2.50,2920,4000,1.5,0,0,5,8,1910,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,5,2.75,2910,9480,1.5,0,0,3,8,2910,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,4,2.50,3310,42998,2.0,0,0,3,9,3310,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,3,2.00,2710,4500,1.5,0,0,4,8,1880,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   number of bedrooms                     14620 non-null  int64
 1   number of bathrooms                    14620 non-null  float64
 2   living area                            14620 non-null  int64
 3   lot area                               14620 non-null  int64
 4   number of floors                       14620 non-null  float64
 5   waterfront present                     14620 non-null  int64
 6   number of views                        14620 non-null  int64
 7   condition of the house                 14620 non-null  int64
 8   grade of the house                     14620 non-null  int64
 9   Area of the house(excluding basement)  14620 non-null  int64
 10  Area of the basement                   14620 non-null  int64
 11  Built Year                             14620 non-null  int64
 12  Renovation Year                        14620 non-null  int64
 13  Postal Code                            14620 non-null  int64
 14  Lattitude                              14620 non-null  float64
 15  Longitude                              14620 non-null  float64
 16  living_area_renov                      14620 non-null  int64
 17  lot_area_renov                         14620 non-null  int64
 18  Number of schools nearby               14620 non-null  int64
 19  Distance from the airport              14620 non-null  int64
 20  Price                                  14620 non-null  int64
dtypes: float64(4), int64(17)
memory usage: 2.3 MB

In [ ]:
df.isna().sum()

number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
X = df.drop('Price', axis=1)
y = df['Price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

In [ ]:
print(f'\n shape of X_train - {X_train.shape}\n')
print(f' shape of X_test - {X_test.shape}\n')
print(f' shape of y_train - {y_train.shape}\n')
print(f' shape of y_test - {y_test.shape}\n')

 shape of X_train - (11696, 20)

 shape of X_test - (2924, 20)

 shape of y_train - (11696,)

 shape of y_test - (2924,)

In [ ]:
number_of_features = len(X.columns)
model = Sequential()
model.add(layer=Input(shape=number_of_features))
model.add(layer=Dense(units=32, activation='relu'))
model.add(layer=Dense(units=64, activation='relu'))
model.add(layer=Dense(units=128, activation='relu'))
model.add(layer=Dense(units=256, activation='relu'))
model.add(layer=Dense(units=512, activation='relu'))
model.add(layer=Dense(units=1024, activation='relu'))
model.add(layer=Dense(units=512, activation='relu'))
model.add(layer=Dense(units=256, activation='relu'))
model.add(layer=Dense(units=128, activation='relu'))
model.add(layer=Dense(units=64, activation='relu'))
model.add(layer=Dense(units=32, activation='relu'))
model.add(layer=Dense(units=16, activation='relu'))
model.add(layer=Dense(units=1, activation='linear'))

In [ ]:
adam = Adam(learning_rate=7e-5)
model.compile(optimizer=adam, loss='mse', metrics=['mae', 'mape'])

In [ ]:
history = model.fit(X_train, y_train, epochs=10)

Epoch 1/10
366/366 [==============================] - 8s 17ms/step - loss: 175187443712.0000 - mae: 279685.0312 - mape: 58.8297
Epoch 2/10
366/366 [==============================] - 6s 15ms/step - loss: 115477528576.0000 - mae: 220470.9219 - mape: 50.8720
Epoch 3/10
366/366 [==============================] - 6s 16ms/step - loss: 92322480128.0000 - mae: 196962.4531 - mape: 44.6362
Epoch 4/10
366/366 [==============================] - 5s 15ms/step - loss: 64844431360.0000 - mae: 168079.8594 - mape: 35.2971
Epoch 5/10
366/366 [==============================] - 6s 16ms/step - loss: 59418259456.0000 - mae: 161456.4531 - mape: 33.5183
Epoch 6/10
366/366 [==============================] - 5s 15ms/step - loss: 58645377024.0000 - mae: 161688.2031 - mape: 33.6820
Epoch 7/10
366/366 [==============================] - 6s 17ms/step - loss: 57386164224.0000 - mae: 159047.1406 - mape: 33.0563
Epoch 8/10
366/366 [==============================] - 5s 15ms/step - loss: 55445532672.0000 - mae: 157573.0938 - mape: 32.7899
Epoch 9/10
366/366 [==============================] - 6s 16ms/step - loss: 55994757120.0000 - mae: 158837.3594 - mape: 33.0904
Epoch 10/10
366/366 [==============================] - 5s 15ms/step - loss: 54031298560.0000 - mae: 155722.7812 - mape: 32.4047

In [11]:
y_pred = model.predict(X_test)

92/92 [==============================] - 0s 3ms/step

In [12]:
y_pred

array([[388551.  ],
       [427433.94],
       [462760.9 ],
       ...,
       [365739.66],
       [334354.78],
       [571307.4 ]], dtype=float32)

In [13]:
y_test

12149    640000
13581    650000
11595    325000
2769     373000
7393     355000
          ...
7362     497000
11132    400000
142      366750
1405     276000
6184     569000
Name: Price, Length: 2924, dtype: int64

In [14]:
pd.DataFrame({'Actual Value':y_test.values.flatten(), 'Predicted Value':y_pred.flatten()})

      Actual Value  Predicted Value
0           640000     388551.00000
1           650000     427433.93750
2           325000     462760.90625
3           373000     423688.53125
4           355000     610941.43750
...            ...              ...
2919        497000     610949.62500
2920        400000     383698.31250
2921        366750     365739.65625
2922        276000     334354.78125
2923        569000     571307.37500

[2924 rows x 2 columns]

In [15]:
r2_score(y_pred=y_pred, y_true=y_test)

0.6299702758983454